<div class="admin-content">
  <h1>Anmälningar</h1>
  <table class="table-striped">
    <thead>
      <tr>
        <th>Namn</th>
        <th>Företag</th>
        <th>Epost</th>
        <th>Event</th>
        <th>Antal</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% if (viewData?.length > 0) { 
        // Create an object to store total guests per event
        const eventTotals = {};

        // Display the customers in the table and calculate event totals
        viewData.forEach(customer => {
          // Display customer details
      %>
          <tr>
            <td class="name-table"><%= customer.name %></td>
            <td class="company-table"><%= customer.company %></td>
            <td class="customer-table"><%= customer.email %></td>
            <td class="event-table"><%= customer.event %></td>
            <td class="guests-table"><%= customer.guests %></td>
            <td class="actions-table">
              <a class="nav-link" href="/admin/home/<%= customer._id %>/editAttendee">Edit</a>
              <form action="/admin/<%= customer._id %>/delete" method="POST" style="display: inline;">
                <button type="submit" class="icon-btn"><i class="bi bi-trash"></i></button>
              </form>
            </td>
          </tr>
      <% 
          // Calculate total guests per event
          if (!eventTotals[customer.event]) {
            eventTotals[customer.event] = customer.guests; // Initialize if not exists
          } else {
            eventTotals[customer.event] += customer.guests; // Add to existing count
          }
        });
      %>
    </tbody>
  </table>
  
  <!-- Summary Table for Total Guests per Event -->
  <div class="summary-table">
    <h2>Antal anmälda per event</h2>
    <table>
      <thead>
        <tr>
          <th>Event</th>
          <th>Antal anmälda</th>
        </tr>
      </thead>
      <tbody>
        <% 
          // Display total guests for each event in the summary table
          Object.keys(eventTotals).forEach(event => { %>
            <tr>
              <td><%= event %></td>
              <td><%= eventTotals[event] %></td>
            </tr>
        <% });
        %>
      </tbody>
    </table>
  </div>
  
  <% } else { %>
  <table class="table table-striped">
    <tbody>
        <tr>
          <td colspan="6">Inga anmälningar hittades.</td>
        </tr>
    </tbody>
  </table>
  <% } %>
</div>
