<div class="activities-content">
  <h1>Anmälningar</h1>
  <table class="table-striped">
    <thead>
      <tr>
        <th>Namn</th>
        <th>Företag</th>
        <th>Epost</th>
        <th>Event</th>
        <th>Antal</th>
      </tr>
    </thead>
    <tbody>
      <% if (viewData?.length > 0) { %>
        <% viewData.forEach(customer => { %>
          <tr>
            <td class="name-table">
              <%= customer.name %>
            </td>
            <td class="company-table">
              <%= customer.company %>
            </td>
            <td class="customer-table">
              <%= customer.email %>
            </td>
            <td class="event-table">
              <%= customer.event %>
            </td>
            <td class="guests-table">
              <%= customer.guests %>
            </td>
          </tr>
        <% }) %>
        </tbody>
      </table>
  <% } else { %>
  <table class="table table-striped">
    <tbody>
        <tr>
          <td>
            Inga anmälningar hittades.
          </td>
        </tr>
    </tbody>
  </table>
  <% } %>
</div>
