<div class="attendies-content">
  <h1>Anmälningar</h1>
  <table class="table-striped">
    <thead>
      <tr>
        <th>Namn</th>
        <th>Företag</th>
        <th>Epost</th>
        <th>Event</th>
        <th>Antal</th>
      </tr>
    </thead>
    <tbody>
      <% if (viewData?.length > 0) { %>
        <% 
          // Sort the viewData array by the event property
          const sortedData = viewData.sort((a, b) => {
            if (a.event < b.event) return -1;
            if (a.event > b.event) return 1;
            return 0;
          });
        
          sortedData.forEach(customer => { %>
          <tr>
            <td class="name-table">
              <%= customer.name %>
            </td>
            <td class="company-table">
              <%= customer.company %>
            </td>
            <td class="customer-table">
              <%= customer.email %>
            </td>
            <td class="event-table">
              <%= customer.event %>
            </td>
            <td class="guests-table">
              <%= customer.guests %>
            </td>
          </tr>
        <% }) %>
        </tbody>
      </table>
      
      <!-- Summary Table for Total Guests per Event -->
      <div class="summary-table">
        <h2>Antal anmälda per event</h2>
        <table>
          <thead>
            <tr>
              <th>Event</th>
              <th>Antal anmälda</th>
            </tr>
          </thead>
          <tbody>
            <% 
              // Create an object to store total guests per event
              const eventTotals = {};

              // Calculate total guests for each event
              sortedData.forEach(customer => {
                eventTotals[customer.event] = (eventTotals[customer.event] || 0) + customer.guests;
              });

              // Display total guests for each event in the summary table
              Object.keys(eventTotals).forEach(event => { %>
                <tr>
                  <td><%= event %></td>
                  <td><%= eventTotals[event] %></td>
                </tr>
              <% });
            %>
          </tbody>
        </table>
      </div>
      
  <% } else { %>
  <table class="table table-striped">
    <tbody>
        <tr>
          <td>
            Inga anmälningar hittades.
          </td>
        </tr>
    </tbody>
  </table>
  <% } %>
</div>
