<div class="admin-content">
  <h1>Event</h1>
  <a class="add-event-button" href="/admin/game/addEvent">Add Event</a>
  <table class="table-striped">
      <thead>
          <tr>
              <th>Namn</th>
              <th>Datum</th>
              <th>Tid</th>
              <th></th> <!-- New column for buttons -->
          </tr>
      </thead>
      <tbody>
          <% if (viewDataEvent?.length > 0) { %>
              <% viewDataEvent.forEach(event => { %>
                  <tr>
                      <td class="name-table">
                          <%= event.name %>
                      </td>
                      <td class="company-table">
                          <%= event.date %>
                      </td>
                      <td class="customer-table">
                          <%= event.time %>
                      </td>
                      <td class="actions-table">
                        <a class="nav-link" href="/admin/game/<%= event._id %>/editEvent">Edit</a>

                        <form action="/admin/game/<%= event._id %>/delete" method="POST" style="display: inline;">
                          <button type="submit" class="icon-btn"><i class="bi bi-trash"></i></button>
                        </form>
                      </td>
                  </tr>
              <% }) %>
          <% } else { %>
              <tr>
                  <td colspan="4">Inga event hittades.</td>
              </tr>
          <% } %>
      </tbody>
  </table>
</div>
