<h1>Admin Panel</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% if (viewData?.snippets?.length) { %>
      <% for (const snippet of viewData.snippets) { %>
        <tr>
          <td>
            <%= snippet.author %>
          </td>
          <td>
            <%= snippet.title %>
          </td>
          <td>
            <%= snippet.snippet %>
          </td>
          <td class="text-nowrap">
            <% if (typeof username !== 'undefined' && username === snippet.author) { %>
            <a href="./snippets/<%= snippet.id %>/update">Update</a>
            <a href="./snippets/<%= snippet.id %>/delete">Delete</a>
            <% } %>
          </td>
        </tr>
      <% } %>
    <% } else { %>
      <tr>
        <td colspan="3" class="text-center text-danger">
          There are no snippets to display
        </td>
      </tr>
    <% } %>
  </tbody>
</table>